# Python Pandas and  Numpy 

## Contents
    1. Pandas
    2. Numpy

### 1. Pandas

Now let's use the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) library to create a Dataframe object and see what functions we can call on it.  Pandas is a very useful library for storing and manipulating data.

In [1]:
# Import the DataFrame class from the Pandas library
from pandas import DataFrame

shopping_list = {
    'milk': 1.2,
    'eggs': 0.99,
    'bread': 1.39
}

# Create a DataFrame object from our shopping list
data = DataFrame(data=shopping_list.items(), columns= ['Items', 'Price'])
data

   Items  Price
0   milk   1.20
1   eggs   0.99
2  bread   1.39

The dataframe object has many methods that can be called.  The `describe` method generates statistics like maximum value, how many values are there and quartile ranges.

In [13]:
data.describe()

          Price
count  3.000000
mean   1.193333
std    0.200083
min    0.990000
25%    1.095000
50%    1.200000
75%    1.295000
max    1.390000

And `head` returns the top 5 items in the dataframe unless another value is specified.  Because there are only 3 items, we pass in 2 to only see the top 2 records in our dataframe.  (This is a perfect example of a default value!)

Both of these functions belong to the dataframe object

In [14]:
data.head(10)

   Items  Price
0   milk   1.20
1   eggs   0.99
2  bread   1.39

Some functions are more useful when they are called on one column of the data.  Much like in a dictionary, we can select a column in our dataframe with the following code:

In [15]:
data['Items']

0     milk
1     eggs
2    bread
Name: Items, dtype: object

And now we can call some methods on specific columns instead of the whole dataset.

In [16]:
data['Price'].max()

1.39

In [17]:
data['Price'].sum()

3.58

### 2 Numpy

 It's basically a library that gives you powerful access over multi-dimensional arrays. This will be particularly useful for vision processing when we want to represent and image in numerical form.

There's not a lot to it, but you can read more about it here: https://numpy.org/doc/

Below we create a Numpy array of numbers from 1 to 10.

In [21]:
import numpy as np

numpy_test = np.arange(1, 11)
print(numpy_test)

[ 1  2  3  4  5  6  7  8  9 10]

Numpy has several built-in manipulation functions, including `reshape(x,y)`, where `x` is the number of rows and `y` is the number of columns. The product of x and y must equal the product of the rows and columns of the orginal array.

In [22]:
numpy_test.reshape(2,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

We can also specify the step size as a third parameter in `arange`.

In [23]:
numpy_test = np.arange(0, 10, 0.5)
print(numpy_test)

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5 7.  7.5 8.  8.5
 9.  9.5]